
<!DOCTYPE html>
<html>
    <head>
            <title>apusateri.com</title>
			<link rel="Stylesheet" href="http://css.apusateri.com/bootstrap.min.css" />
			<link rel="Stylesheet" href="http://css.apusateri.com/main.css" />
			<link rel="Stylesheet" href="/static/site.css" />
			<script type="text/javascript" src="http://js.apusateri.com/jquery.min.js"></script>
			<script type="text/javascript" src="http://js.apusateri.com/bootstrap.min.js"></script>
			<link rel="Stylesheet" href="http://css.apusateri.com/prettify.css" />
			<link rel="icon" type="image/png" href="/static/favicon.ico" />
			<script type="text/javascript" src="http://js.apusateri.com/prettify.js"></script>
			<script type="text/javascript">

				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-34439050-1']);
				_gaq.push(['_trackPageview']);

				(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();

			</script>
    </head>
	<body>
	        <div class="navbar navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container-fluid">
					<a class="brand" href="/">apusateri.com</a>
						<ul class="nav">
							<li><a href="/resume">Resume</a></li>
							<!--<li><a href="http://captainaweso.me/">Blog</a></li>-->
							<li><a id="maillink" href="moc.elpmaxe@ynohtna:otliam">Email</a></li>
							<li><a href="http://twitter.com/apusateri" target="_blank">Twitter</a></li>
							<li><a href="http://www.linkedin.com/pub/anthony-pusateri/b/879/9b8" target="_blank">LinkedIn</a></li>
							<li><a href="https://github.com/apusateri" target="_blank">GitHub</a></li>
							<li><a href="http://plus.google.com/115955004623640043382?prsrc=3&rel=author" rel="publisher" style="text-decoration:none;"><img src="//ssl.gstatic.com/images/icons/gplus-16.png" alt="Google+" style="border:0;width:16px;height:16px;"/></a></li>
						</ul>
					</div>
				</div>
	        </div>
			<div class="container-fluid">
    			<div class="row-fluid">
    				~{ body ~}
    			</div>
    		</div>
    </body>
</html>